* {
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100%;
    margin-bottom: 60px;
}

body > footer {
    position: fixed;
    /* height: 50px; */
    bottom: 0;
    width: 100%;
    
}

.all-messages {
    height: calc(100% - 140px);
    overflow-y: auto;
    /* box-sizing: border-box; */
    
}

.order-success {
    background-color: #cbf5b3;
    color: #43cf15;
    font-weight: bold;
}

.order-pending {
    background-color: #f7a1a1;
    color: #fa3232;
    font-weight: bold;
}